@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&family=Ubuntu+Mono:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu Mono';
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.bg{
    background: url('https://images.unsplash.com/photo-1638274858149-1adfcbf622a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    filter: blur(30px);
}
.loading-text{
    font-size: 50px;
    color: #fff;
}